footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #40a860;
    bottom: 0;
    width: 100%;
    user-select: none;
    position: relative;
}

footer div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

footer .info svg { color: white; margin: 0 0.5vw; transition: 0.3s; }
footer .info a:hover { color: orange; }

footer div a,p { 
    color: white; 
    cursor: pointer; 
    transition: 0.3s; 
    margin-right: 0.5vw; 
    text-decoration: none;
}